.qa__container{
    /* background: cadetblue;     */
    height: 40px;
}

.qa__container ul{
    /* background: slateblue; */
    height: 100%;
    display: flex;
    list-style: none;
    /* font-weight: 600; */
    gap: 20px;
}
.qa__container .li{
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 100%;
}
.socialMedia__icons{
    font-size: 22px;
}

.socialMedia__icons a{
    margin-right: 5px;
    text-align: center;
}