* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Archivo', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  width: 100%;
}



@media (min-width: 724px) {
  .App{
    max-width: 1030px;
  }
}