.header {
  width: 100%;
}
.header a {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content a:hover {
  color: var(--base__text__color);
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
