.main__section {
  position: sticky;
  z-index: 2;
  width: 100%;
  max-height: 65px;
  display: flex;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--background__color1);
}

.img__container {
  flex-grow: 1;
}

.img__container img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.burger__button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger__line {
  position: absolute;
  width: 40px;
  height: 6px;
  border-radius: 5px;
  overflow: hidden;
  background: black;
  transition: all 0.25s ease-in-out;
}

.burger__line__before {
  transform: translateY(-12px);
}

.burger__line__after {
  transform: translateY(12px);
}

.burger__open .burger__line__middle {
  background: transparent;
  transform: translateX(50px);
}

.burger__open .burger__line__before {
  background: dodgerblue;
  transform: rotate(45deg);
}

.burger__open .burger__line__after {
  background: violet;
  transform: rotate(-45deg);
}

.menu__container {  
  position: absolute;
  width: 100%;  
  transition: 0.25s;
  transform: translateY(-100%);
  z-index: 1;
  background: var(--background__color1);  
}

.dropdown__active {
  transform: translateY(0);
  box-shadow: 0 0 80px 10px rgba(0, 0, 0, 0.1);
}


.menu__container li i{
  margin-right: 10px;
}
.menu__container li {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}